// YES NO エリア
.ui.placeholder.segment {
  height: 500px;
}

.column {
  height: 500px;
}

.field > h2 {
  text-align: center;
}

// 質問文
.question-text {
  z-index: 1;
  font-family: 'corporate';
  font-size: 1.3em;
  text-align: center;
  font-weight: normal;
}

// 質問文丸い玉
.draggable-wrapper {
  width: 230px;
  height: 230px;
  background-color: rgb(177,174,177);
  border-radius: 50%;
  margin: 0 auto;
  line-height: 30px;
  display:flex;
  align-items:center;
  justify-content:center;
}

// 回答ボタン周り
#answer-submit {
  margin-top: 100px;
  z-index: 2;
}

.answer-submit-button-wrapper {
  text-align: center;
  padding-bottom: 180px;
}

// 診断結果毎の画像
  // 100山岸プロ

.yamagishi-wrapper {
  text-align: center;
}

.yamagishi-img {
  width: 300px;
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}

  // 70ちゃいなマーブル

.china-wrapper {
  text-align: center;
}

.china-img {
  width: 200px;
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}

  // 50フランスパン

.bread-wrapper {
  text-align: center;
}

.bread-img {
  width: 300px;
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}

  // 30フリード

.thisis-wrapper {
  text-align: center;
}

.thisis-img {
  width: 350px;
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}

  // 0悟り

.satori-wrapper {
  text-align: center;
}

.satori-img {
  width: 350px;
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}

// アナタの結果は、、、
.ui.before.result.container {
  margin-top: 150px;
  margin-bottom: 150px;
}

// 診断結果画面下部メニューボタン
.result-menu-wrapper {
  margin-top: 10px;
  text-align: center;
  padding-bottom: 150px;
}
