// パソコン。タブレット画面用
@media screen and (min-width:501px) {
  // YES NO エリア
  .ui.segment {
    height: 700px;
    // width: auto;
    max-width: 90%;
    background-image: url("./kinniku4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }
  .ui.two.column.very.relaxed.grid {
    margin-left: auto;
    margin-right: auto;
    width: 2000px;
    max-width: 90%;
  }
  // 質問文
  .question-text {
    z-index: 1;
    font-family: 'corporate';
    font-size: 1.3em;
    text-align: center;
    font-weight: normal;
  }

  // 質問文丸い玉
  .draggable-wrapper {
    width: 230px;
    height: 230px;
    background-color: rgb(230, 234, 235);
    border-radius: 30%;
    margin-bottom: 500px;
    border: solid;
    margin: 0 auto;
    line-height: 30px;
    display:flex;
    align-items:center;
    justify-content:center;
  }
}

// スマホ画面用
@media screen and (max-width:500px) {
  // YES NO エリア
  .ui.segment {
    margin-top: 10px;
    height: 550px;
    max-width: 100%;
    background-image: url("./kinniku4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
  }
  .ui.two.column.very.relaxed.grid {
    margin-left: auto;
    margin-right: auto;
    width: 2000px;
    max-width: 100%;
  }
  // 質問文
  .question-text {
    z-index: 1;
    font-family: 'corporate';
    font-size: 0.9em;
    text-align: center;
    // font-weight: normal;
  }
  // 質問文丸い玉
  .draggable-wrapper {
    width: 180px;
    height: 180px;
    background-color: rgb(230, 234, 235);
    border-radius: 30%;
    margin-bottom: 500px;
    border: solid;
    margin: 0 auto;
    line-height: 30px;
    display:flex;
    align-items:center;
    justify-content:center;
    will-change: transform;
  }
}

.column {
  height: 700px;
  width: 600px;
}

.field > h1 {
  text-align: center;
}

// 回答ボタン周り
#answer-submit {
  margin-top: 100px;
  z-index: 2;
}

.answer-submit-button-wrapper {
  padding-bottom: 180px;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
}

// アナタの結果は、、、
.ui.before.result.container {
  margin-top: 100px;
  // margin-bottom: 50px;
}

// 診断結果画面下部メニューボタン
.result-menu-wrapper {
  margin-top: 10px;
  text-align: center;
  padding-bottom: 150px;
}
