@import "semantic-ui";
@import "homes";
@import "answers";
@import "questions";
@import "devises";

/* フォント */
@font-face {
  font-family: 'gagagaga';
  src: font-url('/assets/gagagaga.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'corporate';
  src: font-url('/assets/corporatex-min.ttf');
  font-weight: normal;
  font-style: normal;
}

/* 背景 */
.all {
  background-image: url("back-ground.png");
  background-size: cover;
  min-height: 100vh;
}
