@import "semantic-ui";
@import "homes";
@import "answers";
@import "questions";
@import "devises";

/* フォント */
@font-face {
  font-family: 'gagagaga';
  src: font-url('/assets/gagagaga.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'corporate';
  src: font-url('/assets/corporatex-min.ttf');
  font-weight: normal;
  font-style: normal;
}

/* 背景 */
.all {
  background-image: url("back-ground.png");
  background-size: cover;
  min-height: 100vh;
}

/* ヘッダーメニュー */
.ui.grey.inverted.menu {
  // opacity: 0.8;
  // max-width: 80%;
  // margin-left: auto;
  // margin-right: auto;
}

/* エラーメッセージ */
.error-messages-wrapper {
  z-index: 4;
}
