.ui.container > h1 {
  font-family: 'gagagaga';
  font-size: 5em;
  text-align: center;
  font-weight: normal;
}

.ui.container > h2 {
  font-family: 'gagagaga';
  font-size: 2.2em;
  text-align: center;
  font-weight: normal;
}

.ui.container > h3 {
  font-family: 'gagagaga';
  font-size: 1.5em;
  text-align: center;
  font-weight: normal;
}

#kinniku {
  text-align: center;
}

#kinniku img {
  width: 800px;
  max-width: 100%;
  max-height: 70%;
  height: 580px;
  object-fit: cover;
  opacity: 0.9;
}

.answer_button_wrapper {
  margin-top: 10px;
  text-align: center;
}

// .all{
//   background-color: rgba(56, 119, 190, 0.692);
// }