.question-form {
  display: inline-block;
  width: 70%;
  height: 200px;
  font-size: 100%;
}

.question-choice-wrapper {
  text-align: center;
}

.question-button-wrapper {
  text-align: center;
  padding-bottom: 180px;
}
