// 診断結果毎の画像
  // 100山岸プロ

  .yamagishi-wrapper {
    text-align: center;
  }
  
  .yamagishi-img {
    width: 300px;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
  }
  
    // 70ちゃいなマーブル
  
  .china-wrapper {
    text-align: center;
  }
  
  .china-img {
    width: 200px;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
  }
  
    // 50フランスパン
  
  .bread-wrapper {
    text-align: center;
  }
  
  .bread-img {
    width: 300px;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
  }
  
    // 30フリード
  
  .thisis-wrapper {
    text-align: center;
  }
  
  .thisis-img {
    width: 350px;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
  }
  
    // 0悟り
  
  .satori-wrapper {
    text-align: center;
  }
  
  .satori-img {
    width: 350px;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
  }
  
  